/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

/* Variables */
:root {
    --primario: #F6F6F6;
    --fondo: #161616;
    --gris-claro: #2c2c2c85;   
    --fuente: "Inter", sans-serif;
}

body {
    height: 100vh;
    background: url('../img/estrellas.svg'), var(--fondo);
    font-family: var(--fuente);
    font-size: 1.6rem;
}

 
/* Globales */
.contenedor {
    max-width: 200rem;
    width: 95%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}
button {
    border: none;
}

button:active {
    border-style: none;
}
textarea {
    background-color: transparent;
    overflow-wrap: break-word;
    resize: none;
    border: none;
    padding: 2rem;
    width: 100%;
    height: 50rem;
}
textarea,
textarea::placeholder {
    color: var(--primario);
    font-family: var(--fuente);
    font-size: 2.5rem;
    font-weight: 500;
}
textarea:focus-visible {
    outline: none;
}

.header h1,
.main__acciones p,
.main__botones button:nth-child(1),
.main__botones button:nth-child(2),
.aside h2,
.aside p,
.footer__autor {
    color: var(--primario);
}


.main__botones button,
.aside {
    background-color: var(--gris-claro);
}

.header,
.main,
.footer {
    padding: 2rem 0;
}

.main,
.main__acciones,
.main__botones,
.footer__redes {
    display: flex;
}

.d-none {
    display: none;
}

/* Header */
.header__img {
    margin-bottom: 2rem;
}
.header h1 {
    text-align: center;
}

/* main */
.main {
    flex-direction: column;
    gap: 5rem;
}
@media (min-width: 992px) { 
    .main {
        display: grid;
        grid-auto-columns: 1fr;
        align-items: center;
    }
}

.main__ingresar {
    display: grid;
    gap: 2rem;
}
@media (min-width: 992px) { 
    .main__ingresar {
        height: 66.9rem;
        grid-column: 1 / 3;
    }
}
.main__texto {
    border-radius: 3.2rem;
}

.main__acciones {
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.6rem;
}

.main__acciones p {
    width: fit-content;
    font-size: 1.2rem;
    margin-left: 2rem;
}
.main__acciones p::before {
    content: '';
    background-image: url(../img/iconos/icono-exclamacion.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -10%;
    width: 100%;
    height: 100%;
}

.main__botones {
    flex-direction: column;
    gap: 2.4rem;
}

@media (min-width: 768px) { 
    .main__botones {
        flex-direction: row;
    }
}

.main__botones button {
    height: 6.7rem;
    width: 100%;
    border-radius: 2.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: transparent;
    border: .1rem solid var(--gris-claro);
    transition: background-color .3s;
}

.main__botones button:hover {
    background-color: var(--gris-claro);
}

/* Aside */
.aside {
    text-align: center;
    padding: 3rem;
    border-radius: 3.2rem;
}
@media (min-width: 992px) { 
    .aside {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 3 / 4;
    }
}
@media (min-width: 992px) { 
    .aside__img {
        display: block;
        margin-bottom: 3rem;
        display: grid;
        justify-content: center;
    }
}
.aside h2 {
    margin-bottom: 1.6rem;
}

.aside__copiar {
    height: 6.7rem;
    width: 100%;
    border-radius: 2.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    transition: .3s;
    position: relative;
}
.aside__copiar-correcto::before {
    content: 'Copiado en el portapapeles ✅';
    font-size: 1.3rem;
    position: absolute;
    top: -40%;
    left: 3%;
    color: var(--primario);
}

/* Footer */
.footer {
    padding: 1rem 0;
}

.footer__autor {
    margin-bottom: 2rem;
}
.footer__autor span {
    font-weight: 600;
}

.footer__redes {
    align-items: center;
    gap: 1.5rem;
}

@media (min-width: 992px) { 
    .footer__redes a {
        transition: .3s;
    }
    .footer__redes a:hover {
        transform: scale(1.1);
    }
}
